a:link{
    text-decoration: none;
}
a:hover{
    color:green;
}
.green{
    background-color:rgb(79, 136, 79);
}
.lightgreen{
    background-color:rgb(210, 239, 166);
}
#main{
    border: 2px solid black; /* border="1" */
    border-spacing: 0; /* cellspacing="0" */
    width: 1250px; /* width="1250" */
}
#menu{
    text-align: center;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
#leftbar{
    width: 70px;
    border-right: 2px solid black; 
}
#content{
    width:200px;

}
#rightbar{
    width:70px;
    border-left: 2px solid black; 
}
#footer{
    border-top: 2px solid black; 
}
#jazzmaster{
    width:300px;
}
.portfolio{
    border: 2px solid;
    border-spacing: 0; /* cellspacing="0" */
}
#content td{
    border: 1px solid;
}
#content th{
    border: 1px solid;
}

